<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">Your Dog's Food Safety Alerts!</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="">Login</a></li>
      <li><a href="">Register</a></li>
    </ul>
  </div>
</nav>
