<ul class="section table-of-contents left hide-on-med-and-down">
  <li><a href="#search">Search</a></li>
  <li><a href="#goodFoods">Good Foods</a></li>
  <li><a href="#sometimesFoods">Sometimes Foods</a></li>
  <li><a href="#badFoods">Bad Foods</a></li>
</ul>
