<div id="search" class="section scrollspy">
  <form id="searchFoods" action="/search">
    <div class="input-field">
      <input id="search" type="search" name="body" autocomplete="off">
      <label for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
  </form>
  <div class="row">
    <div class="col s12">
      <div id="searchResults">
      </div>
    </div>
  </div>
</div>
