@import "animations.css";
@import "992down.css" screen and (max-width: 992px);

body,html{
    width: 100% !important;
    height: 100% !important;
    width: 100vw !important;
    height: 100vh !important;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-family: 'Do Hyeon', sans-serif;
}

.foodCard{
  height: 175px;
  padding: 5px;
  border-radius: 5px;
}

.foodCard img{
  box-shadow: 3px 3px 5px black;
}

.table-of-contents{
  position: fixed;
  left: 0;
  top: 10%;
}

.saveStar:hover{
  color: #ffeb3b;
}

.foodListSection{
  max-width: 100%;
}

.foodContainerSmall .foodCard{
  display: block !important;
  max-width: 250px;
  height: 250px;
  white-space: normal;
}
